<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-normal"><%= t('.title', resource: resource.model_name.human) %></h1>
</div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email address" %>
    <%= f.label :email %><br />
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div><%= t('.currently_waiting_confirmation_for_email', email: resource.unconfirmed_email) %></div>
  <% end %>

  <p><%= t('.leave_blank_if_you_don_t_want_to_change_it').capitalize %></p>

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "new-password", id: "inputPassword", class: "form-control", placeholder: "Password" %>
    <% if @minimum_password_length %>
      <%= f.label :password, "Пароль #{t('devise.shared.minimum_password_length', count: @minimum_password_length) }" %>
    <% end %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "inputPassword", class: "form-control", placeholder: "Password" %>
    <%= f.label :password_confirmation %>
  </div>

  <p class="pt-3"><%= t('.we_need_your_current_password_to_confirm_your_changes').capitalize %></p>
  <div class="form-label-group">
    <%= f.password_field :current_password, autocomplete: "current-password", id: "inputPassword", class: "form-control", placeholder: "Password" %>
    <%= f.label :current_password %>
  </div>

  <div class="actions">
    <%= f.submit t('.update'), class: "btn btn-lg btn-primary btn-block" %>
  </div>

  <div class="mb-2 mt-4">
    <p><%= link_to t('devise.shared.links.back'), :back %></p>
    <p><%= t('.unhappy') %></p>
    <%= button_to t('.cancel_my_account'), registration_path(resource_name),
                                          data: { confirm: t('.are_you_sure') }, method: :delete,
                                          class: "btn btn-sm btn-outline-danger" %>

  </div>

<% end %>
