  <div class="text-center mb-4">
    <h1 class="h3 mb-3 font-weight-normal"><%= t('.sign_up') %></h1>
    <p>Если хочешь пожарить шашлыки, нужно зарегистрироваться или <a href=""><%= render "devise/shared/links" %></a> </p>

  </div>
  <%= render "devise/shared/error_messages", resource: resource %>
<%= form_for resource, as: resource_name, url: registration_path(resource_name), html: { class: "form-signin" } do |f| %>

  <div class="form-label-group">
    <%= f.email_field :email, autofocus: true, autocomplete: "email", id: :email, class: "form-control", placeholder: "Email address" %>
    <%= f.label :email %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password, autocomplete: "new-password", id: "inputPassword", class: "form-control", placeholder: "Пароль #{t('devise.shared.minimum_password_length', count: @minimum_password_length) }" %>
    <% if @minimum_password_length %>
    <%= f.label :password, "Пароль #{t('devise.shared.minimum_password_length', count: @minimum_password_length) }" %>
    <% end %>
  </div>

  <div class="form-label-group">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "inputPassword", class: "form-control", placeholder: "#{t('activerecord.attributes.user.password_confirmation')}" %>
    <%= f.label :password_confirmation %>
  </div>

  <div>
    <%= f.submit t('.sign_up'), class: "btn btn-lg btn-primary btn-block" %>
  </div>
<% end %>
