<div class="text-center mb-4">
  <h1 class="h3 mb-3 font-weight-normal"><%= t('.change_your_password') %></h1>
</div>
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: "form-signin" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
    <%= f.hidden_field :reset_password_token %>

    <div class="form-label-group">
      <%= f.password_field :password, autocomplete: "new-password", id: "inputPassword", class: "form-control", placeholder: "Пароль #{t('devise.shared.minimum_password_length', count: @minimum_password_length) }" %>
      <% if @minimum_password_length %>
        <%= f.label :password, "Пароль #{t('devise.shared.minimum_password_length', count: @minimum_password_length) }" %>
      <% end %>
    </div>

    <div class="form-label-group">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", id: "inputPassword", class: "form-control", placeholder: "#{t('.confirm_new_password')}" %>
      <%= f.label :password_confirmation, t('.confirm_new_password') %>
    </div>

    <div>
      <%= f.submit t('.change_my_password'), class: "btn btn-lg btn-primary btn-block" %>
    </div>
  <% end %>

