<main role="main" class="container">
  <div class="card mb-3">
    <%# Выводим произвольную фотку в качестве фона для шапки события %>
    <%= image_tag event_photo(@event), alt: 'Шашлыки', class: "card-img-top img-fluid image-deck" %>
    <div class="card-body">
      <h5 class="card-title"><%= @event.title %></h5>
      <p class="card-text"><%= link_to @event.address, "https://yandex.ru/maps/?text=#{@event.address}" %></p>
      <p class="card-text"><%= @event.description %></p>
      <p class="card-text"><small class="text-muted"><%= l @event.datetime, format: :short %></small></p>
      <% if current_user_can_edit?(@event) %>
        <%= link_to 'Изменить', edit_event_path(@event), class: 'btn btn-lg btn-success' %>
      <% end %>
    </div>
  </div>

  <div class="row mb-4">
      <%= render partial: 'photos/photo', collection: @event.photos.except(@new_photo) %>
  </div>

  <div class="row">
    <%# Рисуем форму для добавления новой фотографии %>
    <div class="col-md-8">
      <%= render partial: 'photos/form', locals: {photo: @new_photo || @event.photos.build} %>

      <div class="event-comments buffer-top mt-4">
        <%= render partial: 'comments/form',
                   locals: {comment: @new_comment || @event.comments.build} %>

        <div class="buffer-both">
          <%= render partial: 'comments/comment',
                     collection: @event.comments.except(@new_comment) %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="event-owner">
        <h4>Зовет:</h4>
        <p><%= render partial: 'users/user', object: @event.user %></p>
      </div>
      <div class="event-subscriptions">
        <h4>Пойдут:</h4>
        <div>
          <p>
            <%= render partial: 'subscriptions/subscription',
                       collection: @event.subscriptions.except(@new_subscription) %>
          </p>
        </div>
      </div>
      <div class="event-subscription-form">
        <% unless @event.user == current_user || @event.subscribers.include?(current_user) %>
        <h4>Я пойду:</h4>
          <div>
            <%= render partial: 'subscriptions/form', locals: {
              subscription: @new_subscription || @event.subscriptions.build
            } %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</main>
