<%# Форма для добавления новой фотографии с одним полем photo %>
<%# Обратите внимание на параметр multipart %>
<%= form_for [@event, photo], html: { multipart: true } do |f| %>
  <%= render partial: 'partials/form_errors', locals: {model: photo} %>

  <div class="form-group">
    <%= f.label :upload_photo %>
    <%= f.file_field :photo, class: "form-control-file" %>
  </div>

  <div class="actions">
    <%= f.submit 'Загрузить', class: 'btn btn-primary' %>
  </div>

<% end %>
