<h1><%= t '.title' %></h1>
<p><%= @comment.body %></p>
<p><%= t '.author' %>: <strong><%= @comment.user_name %></strong></p>

<h3><%= t '.event' %>: <%= @event.title %></h3>

<%= t '.datetime' %>
<h4><%= l @event.datetime %></h4>

<h4><%= t '.owner' %>: <%= @event.user.name %></h4>

<p>Чтобы посмотреть событие нажмите на <%=link_to("ссылку", @event) %>.</p>
